$cs: (
  linear-bg: linear-gradient(#ffffff, #e1e1e1, #ffffff),
  bg: white,
  bg2: lightgrey,
  header: black,
  text: black,
  border: black,
  user: green,
  highlight: lightgrey,
  highlight2: grey,
  highlight-active: Magenta
);

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: map-get($cs, linear-bg);
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: map-get($cs, text);
}
::-webkit-scrollbar-thumb:hover {
  background: map-get($cs, highlight-active);
}

// Global classes
:root {
  background: map-get($cs, linear-bg);
  #app {
  }
  .page {
    padding: 0 25px;
    margin-bottom: 50px;
    .pageheader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .q-btn {
        font-weight: 700;
        font-size: 14px;
        &:hover {
          color: map-get($cs, highlight-active);
        }
      }
    }
    .center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .toolbar {
    background-color: map-get($cs, header);
  }
  .bg {
    background-color: map-get($cs, bg);
  }
  .bg2 {
    background-color: map-get($cs, bg2);
  }
  .login-name {
    color: map-get($cs, user);
  }
  .remove_linkStyle {
    text-decoration: none;
    color: map-get($cs, text);
  }
  .grid3x3 {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .q-btn,
  .create-card.router-link,
  .show-card.router-link {
    height: 30px;
    font-size: 12px;
    background-color: map-get($cs, bg2) !important;
  }
}
// ADD NEW cards
.create-card {
  border: 1px solid map-get($cs, border);
  border-radius: 5px;
  display: inline-block;
  padding: 0 2%;
  min-width: 180px;
  .title {
    margin-top: -10px;
    margin-bottom: 10px;
    .cardheader {
      background-color: map-get($cs, bg2);
      color: map-get($cs, header);
      float: left;
      padding: 0 5px;
      border-radius: 5px;
    }
  }
  select {
    width: 200px;
  }
  input {
    width: 200px;
  }
  .create-btn {
    float: right;
    margin-top: 10px;
    margin-bottom: -10px;
      font-weight: 600;
      font-size: 12px;
      &:hover {
        color: map-get($cs, highlight-active);
      }
  }
}
// SHOW ALL cards
.show-card {
  border: 1px solid map-get($cs, border);
  border-radius: 5px;
  display: inline-block;
  padding: 0 2%;
  min-width: 200px;
  .title {
    margin-top: -10px;
    margin-bottom: 10px;
    .cardheader {
      background-color: map-get($cs, bg2);
      color: map-get($cs, header);
      float: left;
      padding: 0 5px;
      border-radius: 5px;
    }
  }
  .spaced {
    display: flex;
    justify-content: space-between;
    select {
      width: 200px;
    }
    input {
      width: 200px;
    }
  }
  .show-btns {
    margin-top: 10px;
    margin-bottom: -10px;
    padding: -5px;
    float: right;
    display: flex;
    flex-direction: row;
    .q-btn {
      font-weight: 600;
      font-size: 12px;
      &:hover {
        color: map-get($cs, highlight-active);
      }
    }
  }
}

//dropdown
.dropdown {
  position: relative;
  display: inline-block;

  &:hover .dropdown-content {
    display: flex;
    left: 100%;
    top: 0;
  }
  &:hover .dropbtn {
    background-color: map-get($cs, highlight);
  }
  &:active .dropbtn {
    color: map-get($cs, highlight-active);
  }
  .dropbtn {
    background-color: map-get($cs, bg);
    color: map-get($cs, text);
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    min-width: 120px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: map-get($cs, bg);
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    // min-width: 100%;
    a {
      color: map-get($cs, text);
      padding: 10px;
      text-decoration: none;
      display: block;
      border-radius: 5px;
      &.router-link-exact-active {
        color: map-get($cs, highlight-active);
      }
    }
    a:hover {
      background-color: map-get($cs, highlight2);
    }
  }
}
