$cs: (
  text: black,
  2: red,
  user: green,
  highlight: lightgrey,
  highlight2: grey,
  highlight-active: Magenta,
  5: blue,
  bg: white,
);

#app {
  #LoginPage {
    #LoginForm {
      display: flex;
      flex-direction: column;
    }
  }

  #RegisterPage {
    #RegisterForm {
      display: flex;
      flex-direction: column;
    }
  }

  .formContainer {
    margin: 0 auto;
    width: 300px;
  }
}

// Global classes
:root {
  background-color: map-get($cs, bg);
  #app {
  }
}
.login-name {
  color: map-get($cs, user);
}

.grid3x3 {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.create-card {
  border: 1px solid black;
  border-radius: 15px;
  display: inline-block;
  padding: 0 2%;
  min-width: 180px;
  .title {
    margin-top: -10px;
    margin-bottom: 10px;
    .cardheader {
      // display: inline-block;
      background-color: map-get($cs, bg);
      float: left;
    }
  }
  select {
    width: 158px;
  }
  input {
    width: 150px;
  }
  .create-btn {
    float: right;
    margin-top: 10px;
    margin-bottom: -10px;
  }
}
.show-card {
  border: 1px solid black;
  border-radius: 15px;
  display: inline-block;
  padding: 0 2%;
  min-width: 200px;
  .title {
    margin-top: -10px;
    margin-bottom: 10px;
    .cardheader {
      // display: inline-block;
      background-color: map-get($cs, bg);
      float: left;
    }
  }
  .spaced {
    display: flex;
    justify-content: space-between;
    select {
      width: 158px;
    }
    input {
      width: 150px;
    }
  }
  .show-btns {
    margin-top: 10px;
    margin-bottom: -10px;
    float: right;
    display: flex;
    flex-direction: row;
  }
}

//Nav bar dropdowns
.dropdown {
  position: relative;
  display: inline-block;
  &:hover .dropdown-content {
    display: block;
  }
  &:hover .dropbtn {
    background-color: map-get($cs, highlight);
  }
  &:active .dropbtn {
    animation-name: anim;
    animation-duration: 100s;
    color: map-get($cs, highlight-active);
  }
  .dropbtn {
    background-color: map-get($cs, bg);
    color: map-get($cs, text);
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: map-get($cs, bg);
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 100%;
    a {
      color: map-get($cs, text);
      padding: 10px;
      text-decoration: none;
      display: block;
      border-radius: 5px;
      &.router-link-exact-active {
        color: map-get($cs, highlight-active);
      }
    }
    a:hover {
      background-color: map-get($cs, highlight2);
    }
  }
}

@keyframes anim {
  0% {
    color: map-get($cs, text);
  }
  25% {
    color: map-get($cs, highlight-active);
  }
  50% {
    color: green;
  }
  75% {
    background: green;
  }
  100% {
    background: green;
  }
}
